/* CSS TARGETING ALL THE PROPERTIES ON THE HOME PAGE */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
}

/* ANIMATION FOR FADE IN SCROLL*/
.animating-container {
	position: relative;
	opacity: 0;
	transition: opacity 800ms ease-out 200ms;
}

.animating-container.appear {
	opacity: 1;
}
/* END OF ANIMATION CSS FOR FADE IN SCROLL */

/* CSS FOR NAVIGATION BAR */
header {
	position: sticky;
	top: 0;
	z-index: 999; /* Ensures the header stays on top of other content */
	background-color: #ffffff;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
	padding: 0 3rem;
}

nav img {
	height: 90px;
	width: 270px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li a {
	text-decoration: none;
	font-size: 1rem;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 500;
	margin-right: 0.8rem;
	color: #ffffff;

	display: flex;
	padding: 0.6rem 1rem;
	border-radius: 3px;
	background-color: rgb(25, 55, 77, 0.9);
	transition: all 0.5s ease;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: none;
}

nav ul li a .icon {
	height: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li a .icon span {
	background: black;
	border-radius: 100%;
	padding: 0rem;

	width: 0rem;
	height: 0rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transform: rotate(-180deg);
	transition: all 0.5s ease;
	opacity: 0;
}

nav ul li a:hover .icon span {
	transform: rotate(0deg);

	border-radius: 100%;
	padding: 0.5rem;
	width: 2rem;
	height: 2rem;
	opacity: 1;
}

/* END OF CSS FOR NAVIGATION BAR */

/* INTRODUCTION SECTION */
.intro-div {
	position: relative;
}

.intro-div img {
	width: 100%;
	height: 800px;
	object-fit: cover;
	filter: brightness(90%);
}

.intro-div h2 {
	font-size: 3.2rem;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	line-height: 3.8rem;
	background-color: rgb(0, 0, 0, 0.7);
	padding: 4rem 4rem;
	border: none;
	border-radius: 4px;

	text-align: start;
	position: absolute;
	top: 2%;
	left: 0;
	width: 50%;
	color: #ffffff;

	animation: fadeIn 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* END OF INTRODUCTION SECTION */

/* ABOUT SECTION */
/* targeting scroll highlight animation */
.about-div1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 120vh;
	margin-left: 8rem;
	margin-right: 13rem;
	margin-bottom: 5rem;
	font-family: 'Montserrat', sans-serif;
}

.text {
	font-size: 7vw;
	letter-spacing: 0.15em;
	line-height: 7rem;
	margin: 0;

	width: 100%;
	color: rgb(35, 31, 32, 0.3);
	background: linear-gradient(to right, #b6b6b6, #231f20) no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 0%;
	transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

	border-bottom: 1px solid #2f2b28;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
}

.about-div1 span {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #003d60;
	color: #d9d9d9;

	clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
	transform-origin: center;
	transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text:hover > span {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
/* end of scroll highlight animation */
/* end of about div 1 */

/* Beginning of about div 2 */
.about-div2 {
	background-color: rgb(25, 55, 77, 0.8);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	height: 88vh;
}

.about-div2 img {
	width: 600px;
	height: 430px;
	object-fit: cover;
	margin-top: 6rem;
	margin-left: 4rem;
	transition: transform 0.9s ease-in-out; /* Smooth transition */
	transform-origin: center center; /* Ensures the zoom effect is centered */
}

.about-div2 img:hover {
	transform: scale(1.05); /* Zoom out by 20% */
}

.about-first-principle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	font-family: 'Be Vietnam Pro', sans-serif;
	margin-top: 1rem;
	margin-right: 3rem;
}

.about-first-principle h2 {
	font-size: 3rem;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 2rem;
}

.about-first-principle p {
	font-size: 1.1rem;
	font-weight: 500;
	color: #ffffff;
	line-height: 1.6rem;
	margin-bottom: 1.2rem;
}
/* End of about div 2 */
/* END OF ABOUT SECTION */

/* POLARIZATION SECTION */
.main-polarize-div {
	margin: 5rem 0;
	padding: 4rem 8rem;
	font-family: 'Be Vietnam Pro', sans-serif;
	background-color: rgb(25, 55, 77, 0.2);
}

.polarize-header-div {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.polarize-header-div h2 {
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 2rem;
	color: #000000;
}

.polarize-header-div h2 span {
	font-size: 2.2rem;
	font-weight: 800;
	color: #000000;
}

.polarize-header-div h4 {
	font-size: 1.2rem;
	font-weight: 500;
	color: #000000;
	width: 85%;
	line-height: 1.8rem;
}

.polarize-details-main-div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;
}

.polarize-image {
	position: relative;
}

.polarize-image img {
	width: 100%;
	height: 310px;
	filter: brightness(85%);
	/* object-fit: cover; */
}

.polarize-image h4 {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);

	bottom: 1%;
	left: 0;
	font-size: 2.3rem;
	color: #ffffff;
	padding: 1.5rem 2.5rem;
	width: 100%;
}

.polarize-details-div {
	background-color: #ffffff;
	transition: transform 0.9s ease-in-out; /* Smooth transition */
	transform-origin: center center; /* Ensures the zoom effect is centered */
}

.polarize-details-div:hover {
	transform: scale(1.05); /* Zoom out by 20% */
}

.polarize-details-div p {
	font-size: 1.2rem;
	color: #003d60;
	padding: 0.7rem 1rem;
}

.filter-noise-div {
	background-color: #ffffff;
	margin-top: 5rem;
	margin-bottom: 5rem;
	font-family: 'Roboto Mono', monospace;
}

.filter-noise-div h2 {
	font-size: 1.7rem;
	font-weight: 700;
	background-color: rgb(25, 55, 77, 0.8);
	color: #fff;
	line-height: 1.5rem;
	letter-spacing: -0.8px;

	display: flex;
	justify-content: center;
	justify-items: center;

	padding-top: 3rem;
	padding-bottom: 3rem;
}

.filter-noise-images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 1rem;
	padding: 2rem 4rem;
}

.noise-image-1-div img,
.noise-image-2-div img {
	width: 670px;
	height: 400px;
	object-fit: cover;
	border-radius: 3px;
	filter: brightness(90%);
	transition: transform 0.5s ease-in-out; /* Smooth transition */
	transform-origin: center center; /* Ensures the zoom effect is centered */
}

.noise-image-1-div img:hover,
.noise-image-2-div img:hover {
	transform: scale(1.05); /* Zoom out by 20% */
}

.noise-image-2 {
	margin-left: 2.6rem;
}

.filter-noise-div h3 {
	font-size: 1.3rem;
	font-weight: 700;
	color: #fff;
	background-color: rgb(25, 55, 77, 0.8);

	margin-left: auto;
	margin-right: auto;
	width: 60%;

	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;
}
/* END OF POLARIZATION SECTION */

/* BEGINNING OF TRADITIONAL FINANCIAL PLANNING SECTION */
.traditional-div {
	position: relative;
}

.traditional-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(90%);
}

.traditional-div h2 {
	font-size: 2.3rem;
	font-weight: 700;
	color: #c6c4c4;
	background-color: rgb(0, 0, 0, 0.9);
	font-family: 'Montserrat', sans-serif;

	position: absolute;
	right: 0;
	width: 60%;
	bottom: 0.5%;

	padding: 2rem 2.2rem;
}
/* END OF TRADITIONAL FINANCIAL PLANNING SECTION */

/* BEGINNING OF GESTALT PLANNING PROCESS SECTION  */
.gestalt-planning-div {
	padding-top: 4rem;
	padding-bottom: 1rem;
	margin-top: 2rem;

	background-color: rgb(25, 55, 77, 0.2);
}

.gestalt-planning-div h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
	background-color: rgb(25, 55, 77, 0.8);

	margin-left: auto;
	margin-right: auto;
	width: 80%;

	padding: 1.5rem 1.5rem;
	text-align: center;
}

.gestalt-planning-inner-div {
	margin-left: 7rem;
	margin-right: 7rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
}

.gestalt-planning-inner-div img {
	width: 640px;
	height: 400px;
	filter: brightness(90%);
	object-fit: cover;
	border-radius: 3px;
	transition: transform 0.6s ease-in-out; /* Smooth transition */
	transform-origin: center center; /* Ensures the zoom effect is centered */
}

.gestalt-planning-inner-div img:hover {
	transform: scale(1.03); /* Zoom out by 20% */
}

.gestalt-planning-perks {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gestalt-planning-perks h3 {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 2.5rem;
	font-family: 700;
	padding-left: 2rem;
}
/* END OF GESTALT PLANNING PROCESS SECTION  */

/* BEGINNING OF DISCOVER BUTTON SECTION */
.discover-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	padding-top: 2rem;
}

.discover-button h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	color: #000000;

	margin-left: auto;
	margin-right: auto;
	width: 50%;

	padding: 1.5rem 1.5rem;
	text-align: center;
}

.discover-button a {
	text-decoration: none;
	font-size: 1.2rem;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 500;
	color: #ffffff;

	display: flex;
	padding: 0.6rem 1rem;
	border-radius: 3px;
	background-color: rgb(25, 55, 77, 0.9);
	transition: all 0.5s ease;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: none;
}

.discover-button a .icon {
	height: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.discover-button a .icon span {
	background: black;
	border-radius: 100%;
	padding: 0rem;

	width: 0rem;
	height: 0rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transform: rotate(-180deg);
	transition: all 0.5s ease;
	opacity: 0;
}

.discover-button a:hover .icon span {
	transform: rotate(0deg);

	border-radius: 100%;
	padding: 0.5rem;
	width: 2rem;
	height: 2rem;
	opacity: 1;
}

/* END OF DISCOVER BUTTON SECTION */

/* BEGINNING OF CONQUER TOGETHER SECTION */
.conquer-together-main-div {
	background-color: rgb(25, 55, 77, 0.2);
	font-family: 'Montserrat', sans-serif;

	padding-top: 5rem;
	padding-bottom: 3rem;
}

.conquer-header,
.what-is-included-header {
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
	background-color: rgb(25, 55, 77, 0.8);

	margin-left: auto;
	margin-right: auto;
	width: 80%;

	padding: 1.5rem 1.5rem;
	text-align: center;
}

.conquer-together-main-div ol {
	margin: 0 auto;
	width: 60%;

	padding: 2rem 1.3rem;
	list-style-type: none; /* Hide default list markers */
	counter-reset: item; /* Initialize a counter */
	padding-left: 15rem;
}

.conquer-together-main-div ol li {
	font-size: 1.2rem;
	font-weight: 600;
	padding: 10px;
	counter-increment: item; /* Increment the counter for each list item */
	position: relative; /* Positioning context for pseudo-element */
	padding-left: 40px; /* Space for the custom marker */
	margin-bottom: 1rem;
}

.conquer-together-main-div ol li span,
.what-is-included-main-div ol li span {
	font-size: 1.3rem;
	font-weight: 800;
	/* font-family: 'Be Vietnam Pro', sans-serif; */
}

.conquer-together-main-div ol li::before,
.what-is-included-main-div ol li::before {
	content: counter(item); /* Display the counter as the marker */
	position: absolute;
	left: 0;
	top: 6px;
	width: 25px; /* Width of the marker */
	height: 25px; /* Height of the marker */
	background-color: rgb(25, 55, 77, 0.8);
	border-radius: 50%;
	color: #fff; /* Text color for the marker */
	text-align: center;
	transform: translateX(-50%);
	padding-top: 5px; /* Adjust the position to ensure it's centered */
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
}

/* ENDING OF CONQUER TOGETHER SECTION */
.what-is-included-main-div {
	background-color: #ffffff;
	margin-top: 5rem;
	margin-bottom: 2rem;
	font-family: 'Montserrat', sans-serif;
}

.what-is-included-header {
	background-color: rgb(25, 55, 77, 0.8);
}

.what-is-included-main-div ol {
	padding: 2rem 1.3rem;
	list-style-type: none; /* Hide default list markers */
	counter-reset: item; /* Initialize a counter */
}

.what-is-included-main-div ol li {
	font-size: 1.2rem;
	font-weight: 600;
	padding: 10px;
	counter-increment: item; /* Increment the counter for each list item */
	position: relative; /* Positioning context for pseudo-element */
	padding-left: 40px; /* Space for the custom marker */
	margin-bottom: 0.5rem;
}

.what-is-included-inner-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-top: 1rem;
}

.what-is-included-inner-div img {
	width: 600px;
	height: 420px;
	object-fit: cover;
	filter: brightness(90%);
	margin-left: 7rem;
	border-radius: 3px;
}

.what-is-included-main-div ol li::before {
	background-color: rgb(25, 55, 77, 0.8);
}

/* ENDING OF WHAT IS INCLUDED SECTION */
